
@model AuthorEditViewModel
<div>
    <button type="button" class="btn btn-sm text-primary text-11px" data-toggle="modal" data-target="#author_@Model.Id"><i class="fas fa-edit"></i></button>
</div>
<div class="modal fade" id="author_@Model.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark" id="exampleModalLabel">ავტორის განახლება</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form onsubmit="return false;" data-edit="@Model.Id" method="post" asp-controller="@AuthorIndexLink" asp-action="edit" enctype="application/x-www-form-urlencoded">
                        <div class=" form-group">
                            <input asp-for="Id" value="@Model.Id" id="user_id" />
                        </div>
                        <div class="form-group">
                            <input asp-for="FirstName" value="@Model.FirstName" class="form-control text-13px" />
                            <span asp-validation-for="FirstName" class="text-danger text-11px"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="MiddleName" value="@Model.MiddleName" class="form-control text-13px" />
                            <span asp-validation-for="MiddleName" class="text-danger text-11px"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="LastName" value="@Model.LastName" class="form-control text-13px" />
                            <span asp-validation-for="LastName" class="text-danger text-11px"></span>
                        </div>

                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary text-12px" data-dismiss="modal">გაუქმება</button>
                <button type="button" onclick="authorEdit('@Model.Id')" class="btn btn-sm btn-success text-12px">დამახსოვრება</button>
            </div>
        </div>
    </div>
</div>