@using Library.Common.Collections
@using Library.Common.Enums
@using Library.WebApp.Helpers.Extensions

@model PagedList<UserListViewModel>

@{
    ViewBag.Title = "თანამშრომლების სია";

    var index = 0;

    Guid.TryParse(User.GetUserId(), out var currentId);
}

<div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <div class="text-left pb-1">
            <form method="get" asp-controller="@AccountIndexLink" asp-action="index" autocomplete="off">
                <div class="input-group">
                    <input type="search" placeholder="ძებნა" name="search" class="form-control text-12px" maxlength="30" />
                    <div class="input-group-append">
                        <button class="btn btn-success text-12px">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="text-13px">
    <div class="row profile-bg text-dark font-weight-bold p-3 rounded-top">
        <div class="col-sm-3 col-md-3">
            <div class="d-flex">
                <a asp-controller="@AccountIndexLink"
                   asp-action="index"
                   asp-route-orderby="firstname"
                   asp-route-ordering="@(ViewBag.Ordering == ASCENDING ? DESCENDING:ASCENDING)"
                   class="btn btn-sm">
                    <i class="fas fa-sort-alpha-@Html.Raw(ViewBag.Ordering == ASCENDING &&
                                                             ((string)ViewBag.OrderBy).ToLower() == "firstname"
                                                             ? "up"
                                                             :"down")">&nbsp;&nbsp;</i>სახელი
                </a>
            </div>
        </div>
        <div class="col-sm-4 col-md-4">
            <a asp-controller="@AccountIndexLink"
               asp-action="index"
               asp-route-orderby="lastname"
               asp-route-ordering="@(ViewBag.Ordering == ASCENDING ? DESCENDING:ASCENDING)"
               class="btn btn-sm">
                <i class="fas fa-sort-alpha-@Html.Raw(ViewBag.Ordering == ASCENDING &&
                                                             ((string)ViewBag.OrderBy).ToLower() == "lastname"
                                                             ? "up"
                                                             :"down")">&nbsp;&nbsp;</i>გვარი
            </a>
        </div>
        <div class="col-sm-3 col-md-3">
            <a asp-controller="@AccountIndexLink"
               asp-action="index"
               asp-route-orderby="email"
               asp-route-ordering="@(ViewBag.Ordering == ASCENDING ? DESCENDING:ASCENDING)"
               class="btn btn-sm">
                <i class="fas fa-sort-alpha-@Html.Raw(ViewBag.Ordering == ASCENDING &&
                                                             ((string)ViewBag.OrderBy).ToLower() == "email"
                                                             ? "up"
                                                             :"down")">&nbsp;&nbsp;</i>ელ.ფოსტა
            </a>
        </div>
        <div class="col-sm-2 col-md-2">
            <div class="text-right">
                @if (User.IsInRole(DefaultRoles[SuperAdmin]) || User.IsInRole(DefaultRoles[Admin]))
                {
                    <a asp-controller="@AccountIndexLink" asp-action="register" class="btn btn-sm btn-success text-12px"><i class="fas fa-plus">&nbsp;</i>დამატება</a>
                }
            </div>
        </div>
    </div>
    @foreach (var user in Model)
    {
        var editModel = new UserProfileEditViewModel
        {
            Id = user.Id,
            FirstName = user.FirstName,
            LastName = user.LastName,
            Email = user.Email
        };

        <div class="row d-flex align-middle p-2 text-13px text-left row-hover border @Html.Raw(index % 2 == 0 ? "grid-header":"")">
            <div class="col-sm-3 col-md-3">@user.FirstName</div>
            <div class="col-sm-4 col-md-4">@user.LastName</div>
            <div class="col-sm-3 col-md-3">@user.Email</div>
            <div class="col-sm-2 col-md-2">
                <div class="row float-right">
                    @if (User.IsInRole(DefaultRoles[SuperAdmin]) || User.IsInRole(DefaultRoles[Admin]))
                    {
                        <partial name="Accounts/_EditUserPartial" model="editModel" />
                    }

                    @if (User.IsInRole(DefaultRoles[SuperAdmin]))
                    {
                        <partial name="Accounts/_DeleteUserFormPartial" model="user" />
                    }
                </div>
            </div>
        </div>

        index++;
    }
    @if (!Model.Any())
    {
        <div class="row p-1">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="text-center">
                    <div class="text-13px">
                        ჩანაწერი ვერ მოიძებნა!
                    </div>
                    @if (!string.IsNullOrEmpty(ViewBag.Search))
                    {
                        <div class="float-left">
                            <div class="text-center">
                                <a asp-controller="@AccountIndexLink" asp-action="index" class="btn btn-sm btn-outline-danger text-12px">
                                    <i class="far fa-arrow-alt-circle-left text-14px">&nbsp;</i> უკან დაბრუნება
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>
@if (Model.Any())
{
    <div class="row pt-1">
        <div class="col-sm-3 col-md-6 col-lg-6 col-xl-6">
            @if (!string.IsNullOrEmpty(ViewBag.Search))
            {
                <div class="float-left">
                    <div class="text-center">
                        <a asp-controller="@AccountIndexLink" asp-action="index" class="btn btn-sm btn-outline-danger text-12px">
                            <i class="far fa-arrow-alt-circle-left text-14px">&nbsp;</i> უკან დაბრუნება
                        </a>
                    </div>
                </div>
            }
        </div>
        <div class="col-sm-8 col-md-6 col-lg-6 col-xl-6">
            <div class="float-right">
                <div class="pagination">

                    <div class="page-item">
                        <a asp-controller="@AccountIndexLink"
                           asp-action="index"
                           asp-route-page="@(Model.PageNumber - 1)"
                           asp-route-search="@ViewBag.Search"
                           asp-route-orderby="@ViewBag.OrderBy"
                           asp-route-ordering="@ViewBag.Ordering"
                           class="page-link @Html.Raw(Model.Previous ? "" : "disabled") text-12px"><i class="fas fa-chevron-left">&nbsp;</i>უკან</a>
                    </div>
                    <div class="page-item">
                        <a asp-controller="@AccountIndexLink"
                           asp-action="index"
                           asp-route-page="@(Model.PageNumber + 1)"
                           asp-route-search="@ViewBag.Search"
                           asp-route-orderby="@ViewBag.OrderBy"
                           asp-route-ordering="@ViewBag.Ordering"
                           class="page-link @Html.Raw(Model.Next ? "" : "disabled") text-12px">წინ&nbsp;<i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts{
    @await Html.PartialAsync("/Views/Shared/_ValidationScriptsPartial.cshtml")
}