@model FilterViewModel
<div class="dropdown show float-right border rounded">
    <a class="btn btn-sm dropdown-toggle text-12px" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @Model.PageSize
    </a>
    <div class="dropdown-menu text-12px">
        <a asp-controller="@Model.Url"
           asp-action="index"
           asp-route-page="@(Model.Page - 1)"
           asp-route-search="@Model.Search"
           asp-route-orderby="@Model.OrderBy"
           asp-route-ordering="@Model.Ordering"
           asp-route-checked="@Model.SelectDeleted"
           asp-route-pagesize="5" class="dropdown-item">5</a>
        <a asp-controller="@Model.Url"
           asp-action="index"
           asp-route-page="@(Model.Page - 1)"
           asp-route-search="@Model.Search"
           asp-route-orderby="@Model.OrderBy"
           asp-route-ordering="@Model.Ordering"
           asp-route-checked="@Model.SelectDeleted"
           asp-route-pagesize="10" class="dropdown-item">10</a>
        <a asp-controller="@Model.Url"
           asp-action="index"
           asp-route-page="@(Model.Page - 1)"
           asp-route-search="@Model.Search"
           asp-route-orderby="@Model.OrderBy"
           asp-route-ordering="@Model.Ordering"
           asp-route-checked="@Model.SelectDeleted"
           asp-route-pagesize="15" class="dropdown-item">15</a>
        <a asp-controller="@Model.Url"
           asp-action="index"
           asp-route-page="@(Model.Page - 1)"
           asp-route-search="@Model.Search"
           asp-route-orderby="@Model.OrderBy"
           asp-route-ordering="@Model.Ordering"
           asp-route-checked="@Model.SelectDeleted"
           asp-route-pagesize="20" class="dropdown-item">20</a>
    </div>
</div>
